.card {
  cursor: pointer;

  &--horizontal {
    display: flex;
    position: relative;

    @include mediaquery--md() {
      margin-bottom: 20px;
    }

    @include mediaquery--sm() {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__btn-remove {
    position: absolute;
    right: 7px;
    top: 34px;
    color: $light-gray-color;
  }

  &__badge {
    top: 10px;
    left: 10px;
  }

  &__image {
    position: relative;

    &--back {
      @include position(absolute, 0, 0, 0, 0);
      opacity: 0;
      transition: all 2s;
    }
  }

  &__icon {
    text-align: center;
    opacity: 0;
    transition: all .5s;

    &--left,
    &--right {
      transition: all .5s;
    }

    &--left {
      transform: translateX(-5px);
    }

    &--right {
      transform: translateX(5px);
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &__btn-search {
    @include centered(50%, 50%);
    z-index: 20;
    opacity: 0;
    transition: all .5s;
  }

  &__item {
    &:hover {
      .card__icon,
      .card__btn-search,
      .card__image--back {
        opacity: 1;
      }

      .card__btn {
        background-color: $danger-color;
      }

      .card__image--front {
        opacity: 0;
      }

      .card__icon--left,
      .card__icon--right {
        transform: translateX(0px);
      }
    }
  }
}
