.card {
  &__item {
    cursor: pointer;

    &:hover {
      .card__icon {
        opacity: 1;
      }

      .card__btn {
        background-color: $danger-color;
      }

      .img-back {
        opacity: 1;
      }

      .img-front {
        opacity: 0;
      }

      .card__icon--left {
        transform: translateX(0px);
      }

      .card__icon--right {
        transform: translateX(0px);
      }
    }
  }

  &__image {
    position: relative;

    .img-back {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: all 2s;
    }
  }

  &__feature {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    z-index: 20;

    &--round {
      width: 40px;
      height: 40px;
      line-height: 40px;
      background: $danger-color;
      color: $light-color;
      border-radius: 100%;
    }
  }

  &__icon {
    text-align: center;
    opacity: 0;
    transition: all .8s;
    z-index: 20;

    &--center {
      @include centered(50%, 50%);
    }

    &--left {
      position: absolute;
      transform: translateX(-5px);
      transition: all .5s;
    }

    &--right {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(5px);
      transition: all .5s;
    }
  }

  &__actions {
    position: relative;
  }

  &__btn {
    border-radius: 20px;
  }
}

.card-horizontal {
  display: flex;
  position: relative;

  @include mediaquery--sm() {
    flex-direction: column;
    text-align: center;
  }

  &__image {
    @include mediaquery--sm() {
      width: 100%;
    }
  }

  &__remove {
    position: absolute;
    width: 20px;
    height: 20px;
    background: $orange-color;
    right: 7px;
    top: 34px;
    border-radius: 100%;
    color: $light-gray-color;
    line-height: 20px;
  }
}
