.card {
  cursor: pointer;

  &:hover {
    .card__icon,
    .card__action--center,
    .card__image--back {
      opacity: 1;
    }

    .card__btn {
      background-color: $danger-color;
    }

    .card__image--front {
      opacity: 0;
    }

    .card__icon--left,
    .card__icon--right {
      transform: translateX(0px);
    }
  }

  @include mediaquery--md() {
    margin-bottom: 15px;
  }

  &--horizontal {
    display: flex;
    position: relative;
  }

  &__badge {
    top: 10px;
    left: 10px;
  }

  &__image {
    position: relative;

    &--back {
      @include position(absolute, 0, 0, 0, 0);
      opacity: 0;
      transition: all 2s;
    }
  }

  &__icon {
    text-align: center;
    opacity: 0;
    transition: all .5s;

    &--left,
    &--right {
      transition: all .5s;
    }

    &--left {
      transform: translateX(-5px);
    }

    &--right {
      transform: translateX(5px);
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &__action {
    &--center {
      @include centered(50%, 50%);
      opacity: 0;
      z-index: 20;
      transition: all .5s;
    }
  }

  &__action--right {
    position: absolute;
    right: 7px;
    top: 34px;
    color: $light-gray-color;
  }
}
