.collapse {
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: $light-color;
  display: none;
  position: relative;

  @include mediaquery--md () {
    display: block;
  }

  &__content {
    position: relative;
    width: 100%;
    right: 0;
    left: 0;
    top: 10px;
    text-align: left;
    box-shadow: 0 3px 10px -2px $shadow-color;
    display: block;

    &-item {
      padding: 10px 20px;
      font-size: 14px;
      border-bottom: solid 1px $dark-color;
      position: relative;
    }
  }

  &__action {
    width: 30px;
    height: 30px;
    position: relative;
    vertical-align: middle;

    &--inner {
      @include position(absolute, 0, 0, 0, 0);
      display: block;
      height: 2px;
      width: 70%;
      background: $light-color;
      margin: auto;
      transition: background .3s;

      &:before {
        @include position(absolute, 7px, 0, auto, 0);
        content: '';
        height: 2px;
        width: 100%;
        background: $light-color;
        margin: auto;
        transform-origin: bottom left;
        transition: all .3s;
      }

      &:after {
        @include position(absolute, -7px, 0, auto, 0);
        content: '';
        height: 2px;
        width: 100%;
        background: $light-color;
        margin: auto;
        transform-origin: top left;
        transition: all .3s;
      }
    }

    &.is-active {
      .collapse__action--inner {
        background: 0 0;
      }

      .collapse__action--inner:before {
        transform: rotate(-45deg);
      }
      .collapse__action--inner:after {
        transform: rotate(45deg);
      }
    }
  }

  &__icon {
    position: absolute;
    right: 10px;
    top: 14px;
    transition: all .3s;

    &.is-active {
      transform: rotate(90deg);
    }
  }

  & > &__content {
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  }

  &.is-active {
    & > .collapse__content {
      max-height: 1000px;
      transition: max-height 0.5s ease-in;
    }
  }
}
