.dropdown {
  position: relative;
  cursor: pointer;

  &:hover >
    &__content {
      display: block;
    }

    &__content--tranform {
      animation: tranform .5s;
    }

  &--static {
    position: static;
  }

  &__content {
    position: absolute;
    top: 100%;
    text-align: left;
    background-color: $light-color;
    border: 1px solid $light-gray-color;
    border-bottom: none;
    box-shadow: 0 3px 10px -2px $shadow-color;
    display: none;
    z-index: 300;

    &--is-right {
      right: 0;
    }

    &--is-left {
      left: 0;
    }

    &--dark {
      background-color: $light-dark-color;
    }

    &--xs {
      width: 200px;
    }

    &--md {
      width: 300px;
    }

    &--lg {
      right: 0;
      left: 0;
    }

    &--horizontal {
      top: 0;
      left: 100%;
      right: auto;
    }
  }

  &__list {
    padding: 10px;
    color: $primary-color;
    cursor: pointer;
    border-bottom: .1px solid $light-gray-color;

    &:hover {
      background-color: $light-gray-color;

      > .link {
        margin-left: 14px;
        color: $danger-color;
        transition: margin .5s;
      }
    }
  }
}
