.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  background-color: $light-color;
  transition: all .5s;

  @include mediaquery--sm() {
    position: static;
  }

  .nav {
    &__item {
      display: inline-block;
    }

    @include mediaquery--sm () {
      display: none;
    }
  }

  &__text {
    @include mediaquery--sm () {
      text-align: center !important;
    }
  }

  &__icons {
    @include mediaquery--sm () {
      display: none;
    }
  }

  &__cart {
    position: relative;

    .cart-inner {
      max-height: 400px;
      overflow-y: auto;
    }

    .badge {
      position: absolute;
      width: 20px;
      height: 20px;
      background: $danger-color;
      right: -7px;
      top: -7px;
      border-radius: 100%;
      color: $light-gray-color;
      line-height: 20px;
    }
  }

  &.is-active {
    transform: translateY(-230px);

    @include mediaquery--sm() {
      transform: none;
    }
  }
}
