.jumbotron {
  @include img-background(scroll, center, no-repeat, cover);
  position: relative;
  min-height: 500px;

  &__content {
    @include centered(70%,50%);
    width: 500px;

    @include mediaquery--sm() {
      width: 100%;
    }
  }
}
