.menu {
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: $light-color;
  display: none;
  position: relative;

  @include mediaquery--md () {
    display: block;
  }

  &__dropdown {
    position: relative;
    width: 100%;
    right: 0;
    left: 0;
    top: 10px;
    text-align: left;
    box-shadow: 0 3px 10px -2px #777;
    display: block;

    &-item {
      padding: 10px 20px;
      font-size: 14px;
      border-bottom: solid 1px $dark-color;
      position: relative;
    }
  }

  &__collapse {
    width: 30px;
    height: 30px;
    position: relative;
    vertical-align: middle;

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 70%;
      background: $light-color;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: background .3s;

      &:before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background: $light-color;
        margin: auto;
        top: 7px;
        left: 0;
        right: 0;
        bottom: auto;
        transition: all .3s;
        transform-origin: bottom left;
      }

      &:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background: $light-color;
        margin: auto;
        top: -7px;
        left: 0;
        right: 0;
        bottom: auto;
        transition: all .3s;
        transform-origin: top left;
      }
    }

    &.is-active {
      span {
        background: 0 0;
      }

      span:before {
        transform: rotate(-45deg);
      }
      span:after {
        transform: rotate(45deg);
      }

      & > .dropdown__content {
        display: none;
      }
    }
  }

  & > &__dropdown {
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  }

  &.is-active {
    & > .menu__dropdown {
      max-height: 1000px;
      transition: max-height 0.5s ease-in;
    }
  }
}
