.modal {
  @include position(fixed);
  display: none;
  padding: 20px;
  z-index: 1000;
  opacity: 0.95;

  &:before {
    @include position(absolute);
    content: "";
    display: block;
    background: $dark-color;
    z-index: -1;
  }

  &__content {
    width: 70%;
    padding-bottom: 5px;
    position: relative;
    border-bottom: 3px solid $light-color;
  }

  &__search {
    position: absolute;
    color: $light-color;
    font-size: 20px;
    right: 11px;
    top: 9px;
    cursor: pointer;
  }

  &__input {
    padding: 10px;
    line-height: $line-height-sm;
    border: none;
    outline: none;
    background-color: transparent;
    color: $light-color;
    font-size: 25px;

    &::placeholder {
      color: $light-color;
    }
  }

  &.is-active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
