.slideshow {
  position: relative;

  &__fade {
    animation: fade 1.5s;
  }

  &__dots {
    @include centered(50%, 95%)
  }

  &__dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: $gray-color;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

    &.is-active,
    &.is-selected {
      background-color: $dark-color;
    }
  }
}
