.slideshow {
  position: relative;

  &__dots {
    @include centered(50%, 95%)
  }

  &__dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: $gray-color;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

    &.active {
      background-color: $dark-color;
    }
  }

  &__fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
