.tab {
  &__content {
    width: 75%;
    padding: 10px;
    animation: fade 1s;

    > .has-bg {
      @include img-background(scroll, bottom right, no-repeat, auto);
    }

    > .is-active {
      display: flex;
      animation: fade 1s;
    }
  }

  &__control {
    width: 25%;
    border-right: solid 1px $gray-color;
  }

  &__list {
    padding: 10px 5px;

    &.is-active {
      .tab__title {
        color: $danger-color;
        margin-left: 10px;
        transition: margin .5s;
      }
    }
  }

  &__link {
    position: relative;

    &:hover {
      margin-left: 15px;
      transition: all 0.2s;
    }
  }

  &__badge {
    padding: 0 6px;
    bottom: 6px;
  }

  &__link-text {
    position: relative;

    &:after {
      @include position(absolute, 100%, 0, 0, 0);
      content: '';
      width: 0;
      height: 1px;
      margin: auto;
      border-bottom: solid 1px $danger-color;
      margin-top: 3px;
      transition: all .5s;
    }

    &:hover:after {
      width: 100%;
    }
  }

  &__item {
    &.is-active {
      color: $danger-color;

      .tab__link-text:after {
        width: 100%;
      }
    }
  }

  &__body > .is-active {
    display: flex;
    animation: fade 1s;
  }
}
