.tab {
  &--has-bg {
    background-attachment: scroll;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto;
  }

  &__content {
    width: 75%;
    padding: 10px;
    animation: fade 1s;

    > .selected {
      display: flex;
      animation: fade 1s;
    }
  }

  &__control {
    width: 25%;
    border-right: solid 1px $gray-color;
  }

  &__list {
    padding: 10px 5px;

    &.selected {
      .tab__title {
        color: $danger-color;
        margin-left: 10px;
        transition: margin .5s;
      }
    }
  }

  &__link {
    position: relative;

    &:hover {
      margin-left: 15px;
      transition: all 0.2s;
    }
  }

  &__badge {
    padding: 0 6px;
    bottom: 6px;
  }

  &__link-menu {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      width: 0%;
      margin: auto;
      border-bottom: solid 1px $danger-color;
      height: 1px;
      transition: all .5s;
      margin-top: 3px;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }

  &__menu {
    &.selected {
      color: $danger-color;

      .tab__link-menu:after {
        width: 100%;
      }
    }
  }

  &__body > .selected {
    display: flex;
    animation: fade 1s;
  }
}
