@mixin centered($horizontal, $vertical) {
  position: absolute;
  left: $horizontal;
  top: $vertical;
  transform: translate(-$horizontal, -$vertical);
}

@mixin flexbox($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin img-background () {
  background-attachment: scroll;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto;
}

@mixin position($position, $t, $r, $b, $l) {
  position: $position;
  left: $l;
  bottom: $b;
  right: $r;
  top: $t;
}
