@mixin centered($horizontal, $vertical) {
  position: absolute;
  left: $horizontal;
  top: $vertical;
  transform: translate(-$horizontal, -$vertical);
}

@mixin flexbox($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin img-background($attachment, $positon, $repeat, $size) {
  background-attachment: $attachment;
  background-position: $positon;
  background-repeat: $repeat;
  background-size: $size;
}

@mixin position($position, $top, $right, $bottom, $left) {
  position: $position;
  left: $left;
  bottom: $bottom;
  right: $right;
  top: $top;
}
