.container {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;

  &--lg {
    width: 100%;
  }

  @include mediaquery--not-lg() {
    padding-left: $col-gutter;
    padding-right: $col-gutter;
  }
}
