.row {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  margin-left: -$col-gutter;
  margin-right: -$col-gutter;
}

[class*='col-'] {
  min-height: 1px;
  max-width: 100%;
  padding-left: $col-gutter;
  padding-right: $col-gutter;
}

@for $i from 1 through $col-num {
  .col-#{$i} {
    width: percentage($i / $col-num);
  }

  .col-offset-#{$i} {
    margin-left: percentage($i / $col-num);
  }
}

@include mediaquery--xl() {
  @for $i from 1 through $col-num {
    .col--xl-#{$i} {
      width: percentage($i / $col-num);
    }

    .col--xl-offset-#{$i} {
      margin-left: percentage($i / $col-num);
    }
  }
}

@include mediaquery--md() {
  @for $i from 1 through $col-num {
    .col--md-#{$i} {
      width: percentage($i / $col-num);
    }

    .col--md-offset-#{$i} {
      margin-left: percentage($i / $col-num);
    }
  }
}

@include mediaquery--sm() {
  @for $i from 1 through $col-num {
    .col--sm-#{$i} {
      width: percentage($i / $col-num);
    }

    .col--sm-offset-#{$i} {
      margin-left: percentage($i / $col-num);
    }
  }
}
