.section {
  &--pt-lg {
    padding-top: 295px;

    @include mediaquery--md() {
      padding-top: 0px;
    }
  }

  &--xl {
    > .container {
      padding-bottom: 64px;

      @include mediaquery--md() {
        padding-bottom: 30px;
      }
    }
  }
}
