// Core corlor
$primary-color: #777 !default;
$warning-color: #fc9f00 !default;
$danger-color: #f14668 !default;

// Gray color
$light-color: #fff !default;
$dark-color: #616161 !default;
$gray-color: #dbdbdb !default;
$black-color: #000000 !default;
$success-color: #48c774 !default;
$body-font-color: $primary-color !default;
