// Core corlor
$primary-color: #888888 !default;
$warning-color: #fc9f00 !default;
$danger-color: #C97178 !default;

// Gray color
$light-color: #fff !default;
$dark-color: #616161 !default;
$light-dark-color: #222222 !default;
$gray-color: #dbdbdb !default;
$light-danger-color: #c97278 !default;
$bold-danger-color: #B4666C !default;
$light-warning-color: #C0AB90 !default;
$bold-warning-color: #ac9981 !default;
$blue-color: #183e53 !default;
$light-blue-color: #7F8FA0 !default;
$bold-blue-color: #728090 !default;
$light-gray-color: #f5f5f5 !default;
$black-color: #000000 !default;
$success-color: #48c774 !default;
$orange-color: orange;
$body-font-color: $primary-color !default;
