.btn,
.btn:focus,
.btn:active:focus {
  outline: none;
}

.btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  line-height: $line-height-zero;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: all 0.3s ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &--link {
    background-color: transparent;
    color: $danger-color;
  }

  &--primary {
    background-color: $light-gray-color;
  }

  &--white {
    background-color: $light-color;

    &:hover {
      background-color: $danger-color;
    }
  }

  &--gray {
    background-color: $gray-color;

    &:hover {
      background-color: $danger-color;
    }
  }

  &--radius {
    border-radius: 20px;
  }

  &--lg {
    padding: 10px 25px;
  }

  &--md {
    padding: 5px 15px;
  }

  &--danger {
    background-color: $danger-color;
    color: $light-color;
  }

  &--orange {
    background-color: $orange-color;
  }

  &--circle {
    border-radius: 100%;
    padding: 10px;
  }
}
