.link {
  text-decoration: none;

  &:hover {
    color: $danger-color;
  }

  &--primary {
    color: $primary-color;
  }

  &--danger {
    color: $danger-color;
  }

  &--light {
    color: $light-color;
  }

  &--dark {
    color: $dark-color;
  }

  &--sm {
    font-size: 12px;
  }
}
